@font-face {
  font-family: 'Lombok';
  src: url('https://cdn.rawgit.com/thingswesaid/assets/3b993538f8348a293ac7c75ceb3d67e5ba9683c5/fonts/Lombok.otf');
}

@font-face {
  font-family: 'Raleway';
  src: url('https://cdn.rawgit.com/thingswesaid/assets/3b993538f8348a293ac7c75ceb3d67e5ba9683c5/fonts/RalewayThin.ttf');
}

* {
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  background: #181818;
  position: relative;
}

p {
  text-align: center;
  font-family: 'Raleway';
}

.main {
  position: relative;
}

#navigator {
  position: fixed;
  top: 35vh;
  right: 0;
  height: 100px;
  width: 30px;
  z-index: 99;
}

#navigator * {
  margin: 15px 12px 15px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background-color: white;
  opacity: .5;
}

#navigator .active {
  opacity: 1;
  box-shadow: 0px 0px 5px #fff;
}

#tws-title-section {
  height: 100vh;
  position: relative;
  text-align: center;
  background: #181818;
}

.tws-section-deer {
  opacity: 0;
  position: fixed;
  top: 15vh;
  z-index: 1;
  width: 100%;
  text-align: justify;
}

.tws-section-deer:after {
  content: '';
  display: inline-block;
  width: 100%;
}

.tws-section-deer img {
  display: inline-block;
  width: auto;
}

.deer-profile {
  height: 50vh;
}

.deer-right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
}

@media only screen and (max-width: 770px) {
  .deer-profile {
    width: 150px;
  }

  .deer-right {
    top: auto;
    bottom: 20%;
  }
}

.arrow-down {
  position: fixed;
  height: 40px;
  width: 100%;
  bottom: 12%;
  background-position: center;
  background-image: url(https://cdn.rawgit.com/thingswesaid/assets/8da91fc91eb6621f81365ce95e8229c3d3fe433f/images/arrow.png);
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 99;
}

.thingswesaid-title {
  font-size: 50px;
  width: 40%;
  height: 100%;
  text-align: center;
  z-index: 2;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thingswesaid-title * {
  margin: 0;
}

.intro-animation {
  -webkit-animation: intro .9s;
  animation:         intro .9s;
}

#bean-section {
  width: 100%;
  height: 330vh;
  position: relative;
  overflow: hidden;
  font-size: 50px;
  text-align: center;
  background: #181818;
}

.evo-side {
  background: url(../images/evo-side.png) no-repeat right;
  background-size: contain;
  position: fixed;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
}

.bean-title {
  width: 100%;
  height: 50vh;
  margin-top: 50vh;
}

.bean-title * {
  margin: 0;
}

.bean-logo {
  background: url(../images/bean.png) no-repeat center;
  background-size: contain;
  width: 100%;
  height: 50px;
  margin: 30px 0 10px;
}

.sticky-bean {
  position: fixed;
  top: 0px;
  width: 100%;
}

.evo-pictures-container {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  position: fixed;
  bottom: 0;
}

.evo-pictures {
  width: 90%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0;
  text-align: justify;
  display: flex;
  justify-content: space-around;
}

.evo-pic-1, .evo-pic-2 {
  opacity: 0;
  height: 50vh;
  padding: 10px;
}

.bean-components {
  font-size: 17px;
  width: 300px;
  min-width: 300px;
  line-height: 25px;
  text-align: justify;
  opacity: 0;
  margin: auto 0;
}

#specs-section {
  position: absolute;
}

.bean-specs {
  position: fixed;
}

.sylo {
  position: fixed;
  bottom: 0;
  left: 20px;
  opacity: 0;
  height: 60vh;
  max-height: 480px;
}

.specs {
  position: fixed;
  right: 0;
  bottom: 9%;
  font-size: 18px;
  width: 35%;
  opacity: 0;
}

.specs p {
  text-align: left;
}

.title-item {
  margin: 20px 0 -15px 0;
}

.item {
  margin: 6px 0 0 10px;
}

.item-indent {
  margin: 6px 0 0 30px;
}


#email-section {
  position: absolute;
}

.email-section-content {
  position: fixed;
  bottom: 40vh;
  left: 0;
  opacity: 0;
  margin: 0 auto;
  width: 100%;
}

#email-section p {
  font-size: 30px;
  margin: 2px;
}

#email-section input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  border: none;
  padding: 5px;
  margin: 20px;
  color: black;
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

#credits-section {
  position: absolute;
  bottom: 350px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#credits-section img {
  width: 70px;
}

#credits-section p {
  margin: 5px;
}

.link {
  text-decoration: underline;
  color: #3D74DA;
}

.email-input {
  position: relative;
}

.checkmark {
  display:inline-block;
  width: 22px;
  height:22px;
  /*-webkit-transform: rotate(45deg);*/
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 37px;
  right: -20px;
}

.checkmark_circle {
  position: absolute;
  width:22px;
  height:22px;
  background-color: lightgreen;
  border-radius:11px;
  left:0;
  top:0;
}

.checkmark_stem {
  position: absolute;
  width:3px;
  height:9px;
  background-color:#fff;
  left:11px;
  top:6px;
}

.checkmark_kick {
  position: absolute;
  width:3px;
  height:3px;
  background-color:#fff;
  left:8px;
  top:12px;
}

a:hover {
  cursor:pointer;
}

input:focus{
  outline: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 20px;
  font-weight: lighter;
  text-align: center;
}

.small-text {
  font-size: 15px !important;
  margin: 0;
}

.lombok {
  font-family: 'Lombok';
}

/* animations */

.fadein {
  -webkit-animation:         fadein .9s;
  animation:         fadein .9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeout {
  -webkit-animation:         fadeout .35s;
  animation:         fadeout .35s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadein-with-delay {
  -webkit-animation:         fadein .7s;
  animation:         fadein .7s;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.fadeout-fast {
  -webkit-animation:         fadeout .1s;
  animation:         fadeout .1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@-webkit-keyframes intro {
  0%   {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes intro {
  0%   {
    opacity: 0;
    margin-top: 20px;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}


@-webkit-keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadein {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}


@-webkit-keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
