@font-face {
    font-family: 'Lombok';
    src: url('https://rawcdn.githack.com/thingswesaid/fonts/cb81d3361be710eff55556881dc2e718c74532fa/Lombok.otf');
}

@font-face {
    font-family: 'Raleway';
    src: url('https://cdn.rawgit.com/thingswesaid/fonts/cb81d3361be710eff55556881dc2e718c74532fa/RalewayThin.ttf');
}

* {
  color: white;
}

p {
  text-align: center;
  font-family: 'Raleway';
}

.lombok {
  font-family: 'Lombok';
}

body {
  margin: 0;
  padding: 0;
}

.first-section {
  font-size: 50px;
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.second-section {
  font-size: 50px;
  background: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.deer-profile-left {
  width: 300px;
  position: fixed;
  top: 12%;
  left: 0;
}

.deer-profile-right {
  width: 300px;
  position: fixed;
  top: 12%;
  right: 0;
  -moz-transform: scaleX(-1);
   -o-transform: scaleX(-1);
   -webkit-transform: scaleX(-1);
   transform: scaleX(-1);
   filter: FlipH;
   -ms-filter: "FlipH";
}

.first-section p {
  margin-top: 0;
  font-size: 50px;
}

.intro-animation {
  -webkit-animation: intro .9s;
  -moz-animation:    intro .9s;
  -o-animation:      intro .9s;
  animation:         intro .9s;
}

/* animations */

@-webkit-keyframes intro {
  0%   {
    opacity: 0;
    margin-top: 20px;
   }
  100% {
    opacity: 1;
    margin-top: 0;
   }
}
@-moz-keyframes intro {
  0%   {
    opacity: 0;
    margin-top: 20px;
   }
  100% {
    opacity: 1;
    margin-top: 0;
   }
}
@-o-keyframes intro {
  0%   {
    opacity: 0;
    margin-top: 20px;
   }
  100% {
    opacity: 1;
    margin-top: 0;
   }
}
@keyframes intro {
  0%   {
    opacity: 0;
    margin-top: 20px;
   }
  100% {
    opacity: 1;
    margin-top: 0;
   }
}
